.card-list img {
  width: 150px; }

.card-list th {
  font-size: 18px;
  border: none !important; }

.card-list td {
  font-size: 16px;
  vertical-align: middle; }
  .card-list td.del {
    vertical-align: middle; }
    .card-list td.del i {
      cursor: pointer; }
      .card-list td.del i:hover {
        color: red; }

.pay-form form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px; }
  .pay-form form label {
    width: 100px; }
    .pay-form form label:after {
      content: "*";
      color: red; }
  .pay-form form input {
    width: 300px;
    height: 30px;
    margin-bottom: 10px; }
  .pay-form form button {
    width: 100px; }
