.card-list
    img
        width: 150px
    th
        font-size: 18px
        border: none !important
    td
        font-size: 16px
        vertical-align: middle
        &.del
            vertical-align: middle
            i   
                cursor: pointer
                &:hover
                    color: red 
            